extends layout
block content
   table.table
      thead
        tr
          th #
          th First Name
          th Last Name
          th Email
          th Username
      tbody
      - each item in users
        tr
          td #{item.id}
          td #{item.name}
          td #{item.last_name}
          td #{item.email}
          td #{item.username}